/*----------------------------------------
¡Hola! Aquí encontrarás la 
estructura de este archivo .css :-)

——> Reset
——> Variables
——> Header
——> Main
——> Footer
----------------------------------------*/


/*-------------- RESET START --------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}

li { list-style: none;}

/*-Heredan propiedades del body-*/
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;}

a {
    display: block;
    color: inherit;
    text-decoration: none;}

/*-En caso de que haya enlaces en párrafos-*/    
p a {display: inline;}

img, video, iframe {
    display: block;
    max-width: 100%;
    width: 100%;}  

svg {
    display: block;
    fill: currentColor;}    

/*-Para formularios-*/
form, input, textarea, label, button, fieldset, legend, select{
    background-color: transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;}

    /* textarea, input, label {width: 100%;}     */

:root {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);

    /*---[VARIABLES]---*/
    /*-Colores principales-*/
    --color-black: #1C1C1C;
    --color-black-opacity: #1c1c1c45;
    --color-grey: #3e3e3e;
    --color-yellow: #FFB94F;
    --color-red: #DF4949;
    --color-blue: #43A7FF;
    --color-green: #95D950;
    --color-white: #FFFFFF;
    --color-white-opacity: #FFFFFF45;
    --color-background-white:#ffffffc2;

    /*-Medidas estándar-*/
    --width-1150: 71.875rem;
    --width-750: 46.875rem;
    --width-570: 35.625rem;
    --width-350: 21.875rem;

    /*-Font families-*/
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-ezcar: 'Eczar', serif;

    /*-Tamaños Fonts-*/
    --font-h1-size: 3.375rem;
    --font-h2-size: 3rem;
    --font-h3-size: 2.5rem;
    --font-h4-size: 1.5rem;
    --font-h5-size: 1.25rem;
    --font-h6-size: 1rem;
    --font-smaller-size: .8rem;

    /*-Pesos Fonts-*/
    --font-bolder: 900;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-Variantes fonts-*/
    --font-smallcaps: all-small-caps;
    --font-uppercase: uppercase;
    
    /*-Transforms-*/
    --transform-scale-up: scale(1.05);
    --transform-scale-down: scale(0.95);
    
    /*-Transitions-*/
    --transition-gen: all .2s ease-in-out;

    /*-Otros-*/
    --text-shadow-gen: .4rem .2rem .5rem rgba(0, 0, 0, 0.267);
    --box-shadow-gen: .5rem .4rem .5rem 0rem var(--color-black-opacity);
}

html{ scroll-behavior: smooth;}

body {
    background: url(../assets/fondo_textura.jpg) no-repeat fixed;
    background-size: cover;
    
    font-size: 100%;}
/*-------------- RESET END --------------*/


/*
BUG: El header no se adapta bien, como no tengo
     mucho tiempo per se he decidido ponerle 
     una anchura del 100% para evitar problemas
*/
/*-------------- [HEADER] --------------*/
.Header {
    width: 100%;
    min-height: 4.375rem;
    background-color: var(--color-black);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: fixed;
    top:0;
    left: calc(50% - (100% / 2));
    z-index: 5; /*-Pongo el 5 para darle margen de sobra
                   al header, de manera que no se superpongan
                   otros elementos-*/
}
.Header-logo {}
.Header-nav {}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
}
.Header-li {}
.Header-link, .Header-button {
    color: var(--color-yellow);
    font-size: var(--font-h4-size);
    font-weight: var(--font-semibold);
    font-variant: var(--font-smallcaps);

    border-bottom: 5px solid transparent;

    transition: var(--transition-gen);}

.Header-button {
    cursor: pointer;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.Header-svg {width: 1rem;}
/*-Preparación para Js
   ——>El svg girará cuando salga el dropdown menu-*/
.Header-svg.isActive{transform: rotate(180deg);}

    
.Header-link:active, .Header-button:active { color: var(--color-white)}
.Header-link:hover, .Header-button:hover { border-bottom: 5px solid var(--color-yellow)}

 
.Header-menu{ position: relative; }
.Header-dropdown {
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 12.5rem;

    border-radius: .625rem;
    border: 3px solid var(--color-yellow);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc((100% - 12.5rem) / 2);
    top: 120%;

    transition: var(--transition-gen);
    
}
.Dropdown-link {
    width: 100%;
    padding: 1rem .5rem;
    
    font-size: var(--font-h6-size);
    font-weight: var(--font-medium);
    
    transition: var(--transition-gen);
}
.Dropdown-link::before{content: '✦ ';}

/*-Ajustes para el hover de los enlaces
   del dropdown menu, de manera que no
   se estropee el border radius      -*/
.Dropdown-link:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);}
.Dropdown-link:active {background-color: var(--color-white);}
.Dropdown-link:first-child:hover{border-radius: .3rem .3rem 0 0;}
.Dropdown-link:last-child:hover{border-radius: 0 0 .3rem .3rem;}

.Header-dropdown.isActive {
    opacity: 1;
    pointer-events: initial;
}


/*-Menú responsive-*/
.Responsive {display: none;}

.Responsive-svg {width: 2rem; color: var(--color-yellow); transition: var(--transition-gen); cursor: pointer;}
.Responsive-svg:hover {color: var(--color-white);}
.Responsive-svg:active {transform: var(--transform-scale-down);}

.Responsive-menu {
    width: 85%;
    min-height: 100px;
    background-color: var(--color-white-opacity);

    padding: 1rem;
    border-radius: 0 0 1rem 1rem;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc(50% - (85% / 2));
    top: 4.375rem;

    transition: var(--transition-gen);
}
.Responsive-menu.isActive {
    opacity: 1;
    pointer-events: initial;}
.Responsive-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Responsive-li {
    width: 100%;
    background-color: var(--color-black);
    border-bottom: 4px solid transparent;
    
    border-radius: 1rem;
}

.Responsive-juegos {
    margin-top: -2rem;
    padding: 1.5rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
}
.Responsive-link {
    width: 100%;
    min-height: 100%;
    color: var(--color-white);

    padding: .5rem;
    border-radius: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: var(--font-h6-size);
    font-weight: var(--font-bold);

    text-align: center;
}

.Responsive-a, .Responsive-h5 {
    color: var(--color-white);
    padding: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    text-transform: var(--font-uppercase);
    text-align: center;
}

.Responsive-li, .Responsive-link, .Responsive-a{ transition: var(--transition-gen);}
.Responsive-a:hover{color: var(--color-yellow);}
.Responsive-li:hover{border-bottom: 4px solid var(--color-yellow);}
.Responsive-link:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);
    transform: var(--transform-scale-up);}
.Responsive-a:active, .Responsive-link:active {transform: var(--transform-scale-down);}
/*-Menú responsive-*/


/*-------------- [MAIN] --------------*/
.Main {
    margin: 4.375rem 0;
    min-height: 80vh;}

.About, .Devs{
    max-width: var(--width-1150);
    
    padding: 2rem 0;
    margin: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.About-title {
    color: var(--color-white);
    text-shadow: var(--text-shadow-gen);

    font-family: var(--font-family-ezcar);
    font-size: var(--font-h2-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
    text-decoration: underline;
}
.About-subtitle {
    max-width: var(--width-750);
    background-color: var(--color-background-white);
    color: var(--color-grey);

    padding: 2rem 1rem;

    border-radius: 1rem;

    box-shadow: var(--box-shadow-gen);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.About-subtitle::before, .About-subtitle::after{
    content: '';
    height: 13rem;
    margin: auto;
    padding: .5rem;
}
.About-subtitle::before{ border-left: .3rem solid var(--color-yellow);}
.About-subtitle::after{ border-right: .3rem solid var(--color-yellow);}

.About-h3 { color: var(--color-grey); font-size: var(--font-h5-size);}
.About-highlight {font-weight: var(--font-bold);}

.About-pixel {background-color: lightgray; min-width: 100px; height: 100px;}

.About-juegos, .About-contacto {
    background-color: var(--color-white);
    padding: 1rem 2rem;
    margin: 0 1rem;

    border: 2px solid transparent;
    border-radius: 1rem;

    text-align: center;
    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
/*-Color individual de cada botón-*/
.About-juegos {color: var(--color-red); border-color: var(--color-red);}
.About-contacto {color: var(--color-blue); border-color: var(--color-blue);}

/*-Hover + active de los botones-*/
.About-juegos:hover, .About-contacto:hover {
    color: var(--color-white);
    box-shadow: var(--box-shadow-gen);
    transform: var(--transform-scale-up);}
.About-juegos:hover {background-color: var(--color-red);}
.About-contacto:hover {background-color: var(--color-blue);}
.About-juegos:active, .About-contacto:active {transform: var(--transform-scale-down);}


.About-wrapper{
    padding: 2rem 3rem;
    border-radius: 1rem;
    
    display: grid;
    grid-template-columns: auto auto; /* El template es auto / auto porque con (2, 1fr) no funciona bien*/
    align-items: self-start;
    gap: 2rem;
    
    box-shadow: var(--box-shadow-gen);
    transition: var(--transition-gen);
}

/*-Colores del wrapper para cada dev-*/
.About-wrapper.Brais {background-color: var(--color-yellow); margin-left: -20%;}
.About-wrapper.Bruno {background-color: #ffcd80; margin-left: 20%;}
.About-wrapper.Gabi {background-color: var(--color-red); margin-left: -20%;}
.About-wrapper.Tobi {background-color: var(--color-green); margin-left: 20%;}


.About-img {
    max-width: var(--width-350);
    width: 100%;

    border-radius: 1rem;
}
.About-desc {
    /* background-color: orange;    */
    max-width: var(--width-350);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}
.About-desc.Reverse {grid-row: 2/1;}
.About-nombre {
    font-family: var(--font-family-ezcar);
    font-size: var(--font-h3-size);
    font-weight: var(--font-bold);
}
.About-nombre::before, .About-nombre::after{content: ' ✦ ';}
.About-datos {
    background-color: var(--color-white-opacity);
    padding: .8rem;

    border-radius: 1rem;

    font-weight: var(--font-medium);
    text-align: justify; /*-No se puede per se, pero es que sino queda mu' feo-*/
}
.About-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
.About-li {}
.About-rrss {
    background-color: var(--color-black-opacity);
    color: var(--color-white);
    width: 3rem;
    padding: 0.6rem;
    margin-top: 1.5rem;

    border-radius: 1.5rem;

    transition: var(--transition-gen);
}
.Brais .About-rrss:hover {color:var(--color-yellow);}
.Bruno .About-rrss:hover {color: #ffcd80;;}
.Gabi  .About-rrss:hover {color:var(--color-red);}
.Tobi  .About-rrss:hover {color:var(--color-green);}
.About-rrss:hover { background-color: var(--color-black); transform: var(--transform-scale-up);}
.About-rrss:active {transform: var(--transform-scale-down);}



/*--Animaciones--*/
.Fade-in{animation: fadein 1s ease-in-out 1;}
@keyframes fadein {
    from{ opacity: 0; transform: translateY(-50%);
    }
    to{opacity:1; transform: translateX(initial);}
}

.Fade-left{ animation: fadeleft 1.2s ease-in-out 1;}
.Fade-right{ animation: faderight 1.2s ease-in-out 1;}

@keyframes fadeleft {
    from{ opacity: 0; transform: translateX(-50%);
    }
    to{opacity:1; transform: translateX(initial);}}

@keyframes faderight {
    from{ opacity: 0; transform: translateX(50%);
    }
    to{opacity:1; transform: translateX(initial);}}

/*-------------- [MAIN] --------------*/




/*--  FOOTER  --*/
.Footer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 5rem 11rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    position: relative;
}
.Footer-img {
    background-color: white;
}
.Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.Footer-h4 {
    margin: 0 0 1rem;

    display: flex;
    flex-flow: row;
    align-items: center;
    gap: .5rem;

    font-family: var(--font-family-ezcar);
    line-height: 1;
    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
    text-decoration: underline;
}
.Footer-svg {
    width: 1.3rem;
    display: inline;}

.Footer-link {font-weight: var(--font-medium);}
    
/*--Esta especifididad distingue a los
    enlaces normales de los iconos--*/
.Footer-li .Footer-link {
    border-bottom: 5px solid transparent;
    transition: var(--transition-gen);}
.Footer-li .Footer-link:hover {
    color: var(--color-yellow);
    border-color: var(--color-yellow);}
.Footer-li .Footer-link:active { transform: scale(0.95);}
.Footer-li .Footer-link::before {content: '✦ '}

.Footer-wrapper {
    margin-bottom: 2rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}    
.Footer-rrss {
    margin-bottom: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}    
.Footer-icono { transition: var(--transition-gen);}
.Footer-icono:hover{color: var(--color-yellow);}   
.Footer-icono:active{transform: scale(0.95);}

.Footer-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Footer-mail {
    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: .5rem;
    padding: .5rem;
}

.Footer-enviar { display: none;}
.Footer-label {
    cursor: pointer;

    background-color: white;
    color: var(--color-yellow);
    padding: .5rem 1rem;

    border-radius: 1rem;

    font-size: var(--font-h-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Footer-label:hover { transform: var(--transform-scale-up);}
.Footer-label:active { transform: var(--transform-scale-down);}

/*-Créditos del footer-*/
.Credits {
    background-color: var(--color-grey);
    width: 100%;
    padding: 1rem;
    
    position: absolute;
    bottom: 0;
    left: calc(50% - (100% / 2));

    text-align: center;
    font-size: var(--font-smaller-size);
}
.Credits-h6::before{content: '✦ ';}
.Credits-h6::after{content: ' ✦';}
.Credits-link {
    color: var(--color-yellow);
    display: inline;
    
    font-weight: var(--font-medium);
    transition: var(--transition-gen); 
}
.Credits-link:hover{color: var(--color-white); transform: var(--transform-scale-up);}
.Credits-link:active{transform: var(--transform-scale-down);}
/*--  FOOTER  --*/



/*-------------- [OTROS ELEMENTOS] --------------
    En este apartado aparecen:
    ——> Scrollbar
    ——> Tooltips
*/
::-webkit-scrollbar {width: .7rem;}
::-webkit-scrollbar-track {background: var(--color-black-opacity); }
::-webkit-scrollbar-thumb {background: var(--color-yellow);}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {border-left: 2px solid white;}

/*-------------- [OTROS ELEMENTOS] --------------*/



/*-- [RESPONSIVE] --*/
@media (max-width:1220px) {
    .Footer {padding: 3rem; gap:2.5rem;}
    .Footer-rrss {margin-bottom: 4rem;}
}
@media (max-width:990px) {
    .Header {
        padding:0 1rem 0;
        justify-content: space-between;}
    .Header-nav {display: none;}
    .Responsive {display:inline}    
    
    .About-subtitle {padding: 2rem;}
    .About-wrapper.Brais, .About-wrapper.Bruno, .About-wrapper.Gabi, .About-wrapper.Tobi  {margin: initial;}
    
    .Footer{ grid-template-columns: repeat(2, 1fr);}
    .Footer-rrss {margin-bottom:2rem;}
}

@media (max-width: 760px) {
    .About-subtitle {border-radius: initial;}
}


@media (max-width:870px) {
    .Responsive-juegos {grid-template-columns: repeat(2, 1fr);}
    
    .About-subtitle {flex-direction: column-reverse;}
    .About-subtitle::before, .About-subtitle::after{display: none;}

    .About-wrapper{
        width: 90%;
        grid-template-columns: initial;
        justify-content: center;
    }
    .About-desc.Reverse {grid-row: initial;}
    
}

@media (max-width:595px) {

    .Footer{ grid-template-columns: 1fr;}
    .Footer-img {margin: auto;}
    .Footer-ul, .Footer-wrapper{ align-items: center;}
}