/*----------------------------------------
¡Hola! Aquí encontrarás la 
estructura de este archivo .css :-)

——> Reset
——> Variables
——> Header
——> Main
——> Footer
----------------------------------------*/


/*-------------- RESET START --------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}

li { list-style: none;}

/*-Heredan propiedades del body-*/
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;}

a {
    display: block;
    color: inherit;
    text-decoration: none;}

/*-En caso de que haya enlaces en párrafos-*/    
p a {display: inline;}

img, video, iframe {
    display: block;
    max-width: 100%;
    width: 100%;}  

svg {
    display: block;
    fill: currentColor;}    

/*-Para formularios-*/
form, input, textarea, label, button, fieldset, legend, select{
    background-color: transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;}

    /* textarea, input, label {width: 100%;}     */

:root {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);

    /*---[VARIABLES]---*/
    /*-Colores principales-*/
    --color-black: #1C1C1C;
    --color-black-opacity: #1c1c1c45;
    --color-yellow: #FFB94F;
    --color-red: #DF4949;
    --color-blue: #43A7FF;
    --color-green: #95D950;
    --color-white: #FFFFFF;

    /*-Medidas-*/
    --width-1150: 71.875rem;
    --width-750: 35.625rem;
    --width-350: 21.875rem;

    /*-Tamaños Fonts-*/
    --font-h1-size: 3.375rem;
    --font-h2-size: 3rem;
    --font-h3-size: 2rem;
    --font-h4-size: 1.5rem;
    --font-h5-size: 1.25rem;
    --font-h6-size: 1rem;

    /*-Pesos Fonts-*/
    --font-bolder: 900;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-Variantes fonts-*/
    
    --font-smallcaps: all-small-caps;
    --font-uppercase: uppercase;
    /*-Transitions-*/
    --transition-gen: all .2s ease-in-out;
}

html{ scroll-behavior: smooth;}

body {
    font-size: 100%;
    position: relative;}
/*-------------- RESET END --------------*/



/*-------------- [HEADER] --------------*/
.Header {
    width: 75rem;
    min-height: 4.375rem;
    background-color: var(--color-black);
    margin: auto;

    border-radius: 0 0 3.125rem 3.125rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: fixed;
    top:0;
    left: calc((100% - 75rem) / 2);
    z-index: 5; /*-Pongo el 5 para darle margen de sobra
                   al header, de manera que no se superpongan
                   otros elementos-*/
}
.Header-logo {}
.Header-nav {}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
}
.Header-li {}
.Header-link, .Header-button {
    color: var(--color-yellow);
    font-size: var(--font-h4-size);
    font-weight: var(--font-semibold);
    font-variant: var(--font-smallcaps);

    border-bottom: 5px solid transparent;

    transition: var(--transition-gen);}

.Header-button {
    cursor: pointer;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.Header-svg {width: 1rem;}
/*-Preparación para Js
   ——>El svg girará cuando salga el dropdown menu-*/
.Header-svg.isActive{transform: rotate(180deg);}

    
.Header-link:active, .Header-button:active { color: var(--color-white)}
.Header-link:hover, .Header-button:hover { border-bottom: 5px solid var(--color-yellow)}

 
.Header-menu{ position: relative; }
.Header-dropdown {
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 12.5rem;

    border-radius: .625rem;
    border: 3px solid var(--color-yellow);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc((100% - 12.5rem) / 2);
    top: 120%;

    transition: var(--transition-gen);
    
}
.Dropdown-link {
    width: 100%;
    padding: 1rem .5rem;
    
    font-size: var(--font-h6-size);
    font-weight: var(--font-medium);
    
    transition: var(--transition-gen);
}
.Dropdown-link::before{content: '✦ ';}

/*-Ajustes para el hover de los enlaces
   del dropdown menu, de manera que no
   se estropee el border radius      -*/
.Dropdown-link:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);}
.Dropdown-link:active {background-color: var(--color-white);}
.Dropdown-link:first-child:hover{border-radius: .3rem .3rem 0 0;}
.Dropdown-link:last-child:hover{border-radius: 0 0 .3rem .3rem;}

/*-Preparación para Js-
    ——>Al hacer click el menú aparece*/
.Header-dropdown.isActive {
    opacity: 1;
    pointer-events: initial;
}



/*-------------- [MAIN] --------------*/

.Main {}
.Wrapper-main{
    width: 100%;
    max-height: 50rem;
    /* background-color: lightgray; */
    
    position: relative;
    overflow:hidden;
} 

/*--  HERO  --*/
/*--Pase de diapositivas del hero--*/
.Hero-gallery {
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    opacity: 0;
    
    transition: opacity 4s ease-in-out;}

.Hero-gallery.isActive{ opacity: 1;}
.Hero-static {position: static;}


.Hero {
    /* background-color: lightblue; */
    width: var(--width-1150);
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;

    position: absolute;
    top: calc( 50% - (25rem / 2));
    left: calc( 50% - (var(--width-1150) / 2));
}
.Hero-h2 {
font-size: var(--font-h2-size);
    font-weight: var(--font-bold);
}
.Hero-h3 {
    max-width: var(--width-750);
    
    font-size: var(--font-h3-size);
    font-weight: var(--font-bold);
}

.Hero-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.8125rem;
}
.Hero-a {
    background-color: var(--color-black);
    color: var(--color-red);
    
    padding: 1rem 2rem;
    border-radius: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Hero-a:hover{
    color: var(--color-white);
    transform: scale(1.05);}
.Hero-a:active{transform: scale(0.95);}    

.Hero-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}
.Hero-li {}
.Hero-rrss {}
.Hero-svg {
    background-color: var(--color-black);
    color: var(--color-red);
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;

    transition: var(--transition-gen);}
.Hero-svg:hover {
    color: var(--color-white);
    transform: scale(1.05);}
.Hero-svg:active{transform: scale(0.95);}





/*--  HERO  --*/


/*--  ABOUT  --*/
.About {
    width: var(--width-1150);
    /* background-color: gray; */
    
    padding: 6rem 0;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem
}
.About-article {
    max-width: var(--width-750);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.875rem;
}
.About-h2 {
    font-size: var(--font-h2-size);
    font-weight: var(--font-bolder);
    font-variant: var(--font-smallcaps);
}
.About-h3 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-bold);
}
.About-a {
    background-color: white;
    color: var(--color-yellow);
    padding: 1rem 2rem;

    border-radius: 1rem;;
    border: 2px solid var(--color-yellow);

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.About-a:hover{
    transform: scale(1.05);
    box-shadow: 4px 2px 10px 0 var(--color-black-opacity);}
.About-a:active {transform: scale(0.95);}

.About-img {
    width: 100%;
    max-width: 31.25rem;
    min-height: 31.25rem; /*-Remove later-*/
    background-color: var(--color-black-opacity);
    animation: aboutImg 1.2s ease-in-out infinite alternate;
}
@keyframes aboutImg {
    from{transform: translateY(1rem);}
    to{transform: translateY(0);}
}
/*--  ABOUT  --*/



/*--  CONTACT  --*/
.Newsletter {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 3rem 11rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Newsletter-h2 {
    max-width: 20rem;

    font-size: var(--font-h2-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
}
.Newsletter-svg{
    width: 3.125rem;
    display: inline;
}

/*--Inicio del form.--*/
.Newsletter-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.Newsletter-h5 {
    max-width: 21.875rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-medium);
}
.Newsletter-mail {
    min-width: 10.625rem;
    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: .5rem;
    padding: .5rem;
}
.Newsletter-enviar {display: none;}
.Newsletter-label {
    cursor: pointer;

    background-color: white;
    color: var(--color-yellow);
    padding: .5rem 1rem;

    border-radius: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Newsletter-label:hover { transform: scale(1.05);}
.Newsletter-label:active { transform: scale(0.9);}
/*--Fin del form.--*/



.Contacto {
    /* background-color: gray; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;

    position: relative;
}
.Contacto-wrapper {
    max-width: 40.625rem;
    padding-left: 10.9375rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .9375rem;
}
.Contacto-h4 {
    margin: 4rem 0 0;
    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
}
.Contacto-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}
.Contacto-li {}
.Contacto-a {
    color: var(--color-yellow);

    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);

    transition: var(--transition-gen);
}
.Contacto-a:hover{ color: var(--color-black);}
.Contacto-a:active{ transform: scale(0.95);}
.Contacto-svg {
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;

    transition: var(--transition-gen);
}
.Contacto-svg:hover {
    color: var(--color-white);
    transform: scale(1.05);
}
.Contacto-svg:active{transform: scale(0.95);} 
.Contacto-img{
    background-color: lightgray;
    width: 37.5rem;
    min-height: 25rem; /*-Delete later-*/
    
    position: relative;
    top: 0;
    right: -5%;
}
/*--  CONTACT  --*/


/*--  FOOTER  --*/

.Footer {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 5rem 10.9375rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.Footer-img {
    background-color: white;
    max-width: 6.25rem; /*-Delete later-*/
}
.Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}
.Footer-li {}
.Footer-h4 {
    margin: 0 0 1rem;

    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
}
.Footer-svg {
    width: 1.3rem;
    display: inline;}

.Footer-link {font-weight: var(--font-medium);}
    
/*--Esta especifididad distingue a los
    enlaces normales de los iconos--*/
.Footer-li .Footer-link {
    border-bottom: 5px solid transparent;
    transition: var(--transition-gen);}
.Footer-li .Footer-link:hover {
    color: var(--color-yellow);
    border-color: var(--color-yellow);}
.Footer-li .Footer-link:active { transform: scale(0.95);}
.Footer-li .Footer-link::before {content: '✦ '}

.Footer-wrapper {}    
.Footer-rrss {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}    
.Footer-icono { transition: var(--transition-gen);}
.Footer-icono:hover{color: var(--color-yellow);}   
.Footer-icono:active{transform: scale(0.95);}   

/*--  FOOTER  --*/



/*-------------- [OTROS ELEMENTOS] --------------
    En este apartado aparecen:
    ——> Scrollbar
    ——> Tooltips
*/
/*-------------- [OTROS ELEMENTOS] --------------*/





/*-- [RESPONSIVE] --*/
