/*----------------------------------------
¡Hola! Aquí encontrarás la 
estructura de este archivo .css :-)

——> Reset
——> Variables
——> Header
——> Main
——> Footer
----------------------------------------*/


/*-------------- RESET START --------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}

li { list-style: none;}

/*-Heredan propiedades del body-*/
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;}

a {
    display: block;
    color: inherit;
    text-decoration: none;}

/*-En caso de que haya enlaces en párrafos-*/    
p a {display: inline;}

img, video, iframe {
    display: block;
    max-width: 100%;
    width: 100%;}  

svg {
    display: block;
    fill: currentColor;}    

/*-Para formularios-*/
form, input, textarea, label, button, fieldset, legend, select{
    background-color: transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;}

    /* textarea, input, label {width: 100%;}     */

:root {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);

    /*---[VARIABLES]---*/
    /*-Colores principales-*/
    --color-black: #1C1C1C;
    --color-black-opacity: #1c1c1c45;
    --color-yellow: #FFB94F;
    --color-red: #DF4949;
    --color-blue: #43A7FF;
    --color-green: #95D950;
    --color-white: #FFFFFF;

    /*-Medidas estándar-*/
    --width-1150: 71.875rem;
    --width-750: 35.625rem;
    --width-350: 21.875rem;

    /*-Font families-*/
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-ezcar: 'Eczar', serif;

    /*-Tamaños Fonts-*/
    --font-h1-size: 3.375rem;
    --font-h2-size: 3rem;
    --font-h3-size: 2rem;
    --font-h4-size: 1.5rem;
    --font-h5-size: 1.25rem;
    --font-h6-size: 1rem;

    /*-Pesos Fonts-*/
    --font-bolder: 900;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-Variantes fonts-*/
    
    --font-smallcaps: all-small-caps;
    --font-uppercase: uppercase;
    /*-Transitions-*/
    --transition-gen: all .2s ease-in-out;
}

html{ scroll-behavior: smooth;}

body {
    font-size: 100%;
    position: relative;}
/*-------------- RESET END --------------*/


/*
BUG: El header no se adapta bien, como no tengo
     mucho tiempo per se, he decidido ponerle 
     una altura del 100% para evitar problemas
*/
/*-------------- [HEADER] --------------*/
.Header {
    width: 100%;
    min-height: 4.375rem;
    background-color: var(--color-black);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: fixed;
    top:0;
    left: calc(50% - (100% / 2));
    z-index: 5; /*-Pongo el 5 para darle margen de sobra
                   al header, de manera que no se superpongan
                   otros elementos-*/
}
.Header-logo {}
.Header-nav {}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
}
.Header-li {}
.Header-link, .Header-button {
    color: var(--color-yellow);
    font-size: var(--font-h4-size);
    font-weight: var(--font-semibold);
    font-variant: var(--font-smallcaps);

    border-bottom: 5px solid transparent;

    transition: var(--transition-gen);}

.Header-button {
    cursor: pointer;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.Header-svg {width: 1rem;}
/*-Preparación para Js
   ——>El svg girará cuando salga el dropdown menu-*/
.Header-svg.isActive{transform: rotate(180deg);}

    
.Header-link:active, .Header-button:active { color: var(--color-white)}
.Header-link:hover, .Header-button:hover { border-bottom: 5px solid var(--color-yellow)}

 
.Header-menu{ position: relative; }
.Header-dropdown {
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 12.5rem;

    border-radius: .625rem;
    border: 3px solid var(--color-yellow);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc((100% - 12.5rem) / 2);
    top: 120%;

    transition: var(--transition-gen);
    
}
.Dropdown-link {
    width: 100%;
    padding: 1rem .5rem;
    
    font-size: var(--font-h6-size);
    font-weight: var(--font-medium);
    
    transition: var(--transition-gen);
}
.Dropdown-link::before{content: '✦ ';}

/*-Ajustes para el hover de los enlaces
   del dropdown menu, de manera que no
   se estropee el border radius      -*/
.Dropdown-link:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);}
.Dropdown-link:active {background-color: var(--color-white);}
.Dropdown-link:first-child:hover{border-radius: .3rem .3rem 0 0;}
.Dropdown-link:last-child:hover{border-radius: 0 0 .3rem .3rem;}

/*-Preparación para Js-
    ——>Al hacer click el menú aparece*/
.Header-dropdown.isActive {
    opacity: 1;
    pointer-events: initial;
}


/*-Menú responsive-*/
.Header-responsive{
    display: none; 
}
.Header-hamburger{
    width: 1.5rem;
    color: var(--color-yellow);
}


/*-------------- [MAIN] --------------*/

.Main {}
.Wrapper-main{
    width: 100%;
    max-height: 45rem;
    /* background-color: lightgray; */
    
    position: relative;
    overflow:hidden;
} 

/*--  HERO  --*/
/*--Pase de diapositivas del hero--*/
.Hero-img {
    width: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    opacity: 0;
    
    pointer-events: none;
    user-select: none;

    transition: opacity 4s ease-in-out;}
.Hero-img.isActive{ opacity: 1;}
.Hero-static {position: static;}


.Hero {
    color: var(--color-white);
    max-width: var(--width-750);

    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    text-shadow: 4px 4px 6px var(--color-black);

    position: absolute;
    top: calc( 50% - (23rem / 2));
    left: calc( 50% - (var(--width-1150) / 2));
}
.Hero-h3 {font-size: var(--font-h3-size); font-weight: var(--font-medium);}

.Hero-logo { background-color: lightgray;}

.Hero-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2.8125rem;
}
.Hero-a {
    background-color: var(--color-black);
    color: var(--color-red);
    
    padding: 1rem 2rem;
    border-radius: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Hero-a:hover{
    color: var(--color-white);
    transform: scale(1.05);}
.Hero-a:active{transform: scale(0.95);}    

.Hero-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}
.Hero-svg {
    background-color: var(--color-black);
    color: var(--color-red);
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;

    transition: var(--transition-gen);}
.Hero-svg:hover {
    color: var(--color-white);
    transform: scale(1.05);}
.Hero-svg:active{transform: scale(0.95);}

.Hero-a, .Hero-svg {box-shadow: 4px 4px 6px var(--color-black-opacity);}





/*--  HERO  --*/


/*--  ABOUT  --*/
.About {
    max-width: var(--width-1150);
    /* background-color: gray; */
    
    padding: 6rem 0;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    gap: 1rem
}
.About-article {
    max-width: var(--width-750);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.875rem;
}
.About-h2 {
    font-family: var(--font-family-ezcar);
    line-height: 1;
    font-size: var(--font-h2-size);
    font-weight: var(--font-bolder);
    font-variant: var(--font-smallcaps);
}
.About-h3 {
    font-size: var(--font-h3-size);
    font-weight: var(--font-bold);
}
.About-a {
    background-color: white;
    color: var(--color-yellow);
    padding: 1rem 2rem;

    border-radius: 1rem;;
    border: 2px solid var(--color-yellow);

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.About-a:hover{
    transform: scale(1.05);
    box-shadow: 4px 2px 10px 0 var(--color-black-opacity);}
.About-a:active {transform: scale(0.95);}

.About-img {
    width: 31.25rem;
    max-width: 100%;
    min-height: 31.25rem; /*-Remove later-*/
    background-color: var(--color-black-opacity);
    animation: aboutImg 1.2s ease-in-out infinite alternate;
}
@keyframes aboutImg {
    from{transform: translateY(1rem);}
    to{transform: translateY(0);}
}
/*--  ABOUT  --*/



/*--  CONTACT  --*/
.Newsletter {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 3rem 11rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Newsletter-h2 {
    max-width: 20rem;
    
    font-family: var(--font-family-ezcar);
    line-height: 1;
    font-size: var(--font-h2-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
}
.Newsletter-svg{
    width: 3.125rem;
    display: inline;
}

/*--Inicio del form.--*/
.Newsletter-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.Newsletter-h5 {
    max-width: 21.875rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-medium);
}
.Newsletter-mail {
    min-width: 10.625rem;
    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: .5rem;
    padding: .5rem;
}
.Newsletter-enviar {display: none;}
.Newsletter-label {
    cursor: pointer;

    background-color: white;
    color: var(--color-yellow);
    padding: .5rem 1rem;

    border-radius: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Newsletter-label:hover { transform: scale(1.05);}
.Newsletter-label:active { transform: scale(0.9);}
/*--Fin del form.--*/



.Contacto {
    /* background-color: gray; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;

    position: relative;
}
.Contacto-wrapper {
    max-width: var(--width-1150);
    margin: 3rem 11rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .9375rem;
}
.Contacto-h4 {
    max-width: var(--width-750);

    
    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
}
.Contacto-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875rem;
}
.Contacto-li {}
.Contacto-a {
    color: var(--color-yellow);

    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);

    transition: var(--transition-gen);
}
.Contacto-a:hover{ color: var(--color-black);}
.Contacto-a:active{ transform: scale(0.95);}
.Contacto-svg {
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;

    transition: var(--transition-gen);
}
.Contacto-svg:hover {
    color: var(--color-white);
    transform: scale(1.05);
}
.Contacto-svg:active{transform: scale(0.95);} 
.Contacto-img{
    width: 37.5rem;
    max-width: 100%;
    background-color: lightgray;


}
/*--  CONTACT  --*/


/*--  FOOTER  --*/

.Footer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--color-black);
    color: var(--color-white);

    padding: 5rem 11rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.Footer-img {
    background-color: white;
}
.Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.Footer-h4 {
    margin: 0 0 1rem;

    display: flex;
    flex-flow: row;
    align-items: center;
    gap: .5rem;

    font-family: var(--font-family-ezcar);
    line-height: 1;
    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
    text-decoration: underline;
}
.Footer-svg {
    width: 1.3rem;
    display: inline;}

.Footer-link {font-weight: var(--font-medium);}
    
/*--Esta especifididad distingue a los
    enlaces normales de los iconos--*/
.Footer-li .Footer-link {
    border-bottom: 5px solid transparent;
    transition: var(--transition-gen);}
.Footer-li .Footer-link:hover {
    color: var(--color-yellow);
    border-color: var(--color-yellow);}
.Footer-li .Footer-link:active { transform: scale(0.95);}
.Footer-li .Footer-link::before {content: '✦ '}

.Footer-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}    
.Footer-rrss {
    margin-bottom: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}    
.Footer-icono { transition: var(--transition-gen);}
.Footer-icono:hover{color: var(--color-yellow);}   
.Footer-icono:active{transform: scale(0.95);}

.Footer-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Footer-mail {
    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: .5rem;
    padding: .5rem;
}

.Footer-enviar { display: none;}
.Footer-label {
    cursor: pointer;

    background-color: white;
    color: var(--color-yellow);
    padding: .5rem 1rem;

    border-radius: 1rem;

    font-size: var(--font-h-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Footer-label:hover { transform: scale(1.05);}
.Footer-label:active { transform: scale(0.9);}

/*--  FOOTER  --*/



/*-------------- [OTROS ELEMENTOS] --------------
    En este apartado aparecen:
    ——> Scrollbar
    ——> Tooltips
*/
/*-------------- [OTROS ELEMENTOS] --------------*/





/*-- [RESPONSIVE] --*/
@media (max-width:1220px) {
    .Hero{
        max-width: 70%;
        padding: 2rem;
        margin: -2rem auto;
        left: calc(50% - (70% / 2));}
    .About{ padding: 6rem 2rem;}

    .Newsletter {flex-direction: column;}
    .Newsletter-h2 {text-align: center;}

    .Contacto-wrapper { margin: 3rem}

    .Footer {padding: 3rem; gap:2.5rem;}
    .Footer-rrss {margin-bottom: 4rem;}
}
@media (max-width:990px) {
    .Header {
        padding:0 1rem 0;
        justify-content: space-between;}
    .Header-nav {display: none;}
    .Header-responsive{display:inline}
    
    .Wrapper-main{ height: 100vh;}
    .Hero-img{ height: 100%;}
    .Hero-h3 {font-size: var(--font-h4-size);}

    .Hero-buttons {
        flex-direction: column;
        gap: .5rem;}
    .Hero-buttons, .Hero-a {width: 80%; text-align: center;}
    .Hero-a {padding: 0.5rem 1rem;}

    .Newsletter {padding: 3rem;}
    .Newsletter-h5 {text-align: center;}
    .Newsletter-form {flex-direction: column;}
    .Newsletter-mail, .Newsletter-label{ width: 100%;}
    .Newsletter-label {text-align: center;}

    .Contacto { 
        margin-bottom: 3em;

        flex-direction: column;
        align-items: center;}
    .Contacto-wrapper {align-items: center;}        
    
    .Footer{ grid-template-columns: repeat(2, 1fr);}
    .Footer-rrss {margin-bottom:2rem;}
}


@media (max-width:840px) {
    
}

@media (max-width:595px) {
    .Wrapper-main{ height: 100vh;}
    .Hero {top: calc(50% - (65% / 2));}

    .Footer{ grid-template-columns: 1fr;}
    .Footer-img {margin: auto;}
    .Footer-ul, .Footer-wrapper{ align-items: center;}
}