/*----------------------------------------
¡Hola! Aquí encontrarás la 
estructura de este archivo .css :-)

——> Reset
——> Variables
——> Header
——> Main
——> Footer
----------------------------------------*/


/*-------------- RESET START --------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}

li { list-style: none;}

/*-Heredan propiedades del body-*/
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;}

a {
    display: block;
    color: inherit;
    text-decoration: none;}

/*-En caso de que haya enlaces en párrafos-*/    
p a {display: inline;}

img, video, iframe {
    display: block;
    max-width: 100%;
    width: 100%;}  

svg {
    display: block;
    fill: currentColor;}    

/*-Para formularios-*/
form, input, textarea, label, button, fieldset, legend, select{
    background-color: transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;}

    /* textarea, input, label {width: 100%;}     */

:root {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);

    /*---[VARIABLES]---*/
    /*-Colores principales-*/
    --color-black: #1C1C1C;
    --color-yellow: #FFB94F;
    --color-red: #DF4949;
    --color-blue: #43A7FF;
    --color-green: #95D950;
    --color-white: #FFFFFF;

    /*-Tamaños Fonts-*/
    --font-h1-size: 3.375rem;
    --font-h2-size: 3rem;
    --font-h3-size: 2rem;
    --font-h4-size: 1.5rem;
    --font-h5-size: 1.25rem;
    --font-h6-size: 1rem;

    /*-Pesos Fonts-*/
    --font-bolder: 900;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-Variantes fonts-*/
    --font-smallcaps: all-small-caps;
    /*-Transitions-*/
    --transition-gen: all .2s ease-in-out;
}

html{ scroll-behavior: smooth;}

body {
    font-size: 100%;
    position: relative;
    height: 140vh;}
/*-------------- RESET END --------------*/


/*-------------- [HEADER] --------------*/
.Header {
    width: 75rem;
    min-height: 6.25rem;
    background-color: var(--color-black);
    margin: auto;

    border-radius: 0 0 3.125rem 3.125rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: fixed;
    top:0;
    left: calc((100% - 75rem) / 2);
}
.Header-logo {}
.Header-nav {}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
}
.Header-li {}
.Header-link, .Header-button {
    color: var(--color-yellow);
    font-size: var(--font-h4-size);
    font-weight: var(--font-semibold);
    font-variant: var(--font-smallcaps);

    border-bottom: 5px solid transparent;

    transition: var(--transition-gen);}

.Header-button {
    cursor: pointer;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.Header-svg {width: 1rem;}
/*-Preparación para Js
    ——>El svg girará cuando salga el dropdown menu-*/
.Header-svg.isActive{transform: rotate(180deg);}

    
.Header-link:active, .Header-button:active { color: var(--color-white)}
.Header-link:hover, .Header-button:hover { border-bottom: 5px solid var(--color-yellow)}

 
.Header-menu{ position: relative;}
.Header-dropdown {
    display: none;
    background-color: var(--color-black);
    color: var(--color-yellow);
    width: 12.5rem;

    border-radius: .625rem;
    border: 3px solid var(--color-yellow);

    position: absolute;
    left: calc((100% - 12.5rem) / 2);
    top: 120%;
}
.Dropdown-link {
    width: 100%;
    padding: 1rem .5rem;

    font-size: var(--font-h6-size);
    font-weight: var(--font-medium);

    transition: var(--transition-gen);
}

/*-Ajustes para el hover de los enlaces
   del dropdown menu, de manera que no
   se estropee el border radius      -*/
.Dropdown-link:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);}
.Dropdown-link:active {background-color: var(--color-white);}
.Dropdown-link:first-child:hover{border-radius: .3rem .3rem 0 0;}
.Dropdown-link:last-child:hover{border-radius: 0 0 .3rem .3rem;}
.Dropdown-link::before{content: '✦';}

/*-Preparación para Js-
    ——>Al hacer click el menú aparece*/
.Header-dropdown.isActive {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
}



/*-------------- [MAIN] --------------*/

.Main {}
.Wrapper-main{
    width: 100%;
    background-color: lightgray;
    animation: diapositivas 20s ease-in-out infinite both;}
/* @keyframes diapositivas {
    0%{background:url();
        background-size: cover;
        background-repeat: no-repeat;}

    25%{background: url();
        background-size: cover;
        background-repeat: no-repeat;}

    75%{background: url();
        background-size: cover;
        background-repeat: no-repeat;}

    100%{background:url();
        background-size: cover;
        background-repeat: no-repeat;}        
} */

/*--  HERO  --*/
.Hero {
    /* background-color: lightblue; */
    width: 71.875rem;
    min-height: 85vh;

    margin: auto;
    padding: 12.5rem 0 5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1rem;
}
.Hero-h2 {
    color: var(--color-black);

    font-size: var(--font-h2-size);
    font-weight: var(--font-bold);
}
.Hero-h3 {
    max-width: 35.625rem;
    color: var(--color-black);
    
    font-size: var(--font-h3-size);
    font-weight: var(--font-bold);
}

.Hero-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.8125rem;
}
.Hero-a {
    background-color: var(--color-black);
    color: var(--color-red);
    
    padding: 1rem 2rem;
    border-radius: 3.125rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Hero-a:hover{
    background-color: white;
    transform: scale(1.05);}
.Hero-a:active{transform: scale(0.95);}    

.Hero-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.8125rem;
}
.Hero-li {}
.Hero-rrss {}
.Hero-svg {
    width: 1.5rem;
    transition: var(--transition-gen);}
.Hero-svg:hover {
    color: var(--color-white);
    transform: scale(1.05);}
.Hero-svg:active{transform: scale(0.95);} 












/*-- [RESPONSIVE] --*/