/*----------------------------------------
¡Hola! Aquí encontrarás la 
estructura de este archivo .css :-)

——> Reset
——> Variables
——> Header
——> Main
——> Footer
----------------------------------------*/


/*-------------- RESET START --------------*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;}

li { list-style: none;}

/*-Heredan propiedades del body-*/
h1, h2, h3, h4, h5, h6, strong{
    font-size: inherit;
    font-weight: inherit;}

a {
    display: block;
    color: inherit;
    text-decoration: none;}

/*-En caso de que haya enlaces en párrafos-*/    
p a {display: inline;}

img, video, iframe {
    display: block;
    max-width: 100%;
    width: 100%;}  

svg {
    display: block;
    fill: currentColor;}    

/*-Para formularios-*/
form, input, textarea, label, button, fieldset, legend, select{
    background-color: transparent;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;}

    /* textarea, input, label {width: 100%;}     */

:root {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--color-black);

    /*---[VARIABLES]---*/
    /*-Colores principales-*/
    --color-black: #1C1C1C;
    --color-black-opacity: #1c1c1c45;
    --color-grey: #3e3e3e;
    --color-yellow: #FFB94F;
    --color-red: #DF4949;
    --color-blue: #43A7FF;
    --color-green: #95D950;
    --color-white: #FFFFFF;
    --color-white-opacity: #FFFFFF45;

    /*-Medidas estándar-*/
    --width-1150: 71.875rem;
    --width-750: 35.625rem;
    --width-350: 21.875rem;

    /*-Font families-*/
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-ezcar: 'Eczar', serif;

    /*-Tamaños Fonts-*/
    --font-h1-size: 3.375rem;
    --font-h2-size: 3rem;
    --font-h3-size: 1.7rem;
    --font-h4-size: 1.5rem;
    --font-h5-size: 1.25rem;
    --font-h6-size: 1rem;
    --font-smaller-size: .8rem;

    /*-Pesos Fonts-*/
    --font-bolder: 900;
    --font-bold: 700;
    --font-semibold: 600;
    --font-medium: 500;

    /*-Variantes fonts-*/
    --font-smallcaps: all-small-caps;
    --font-uppercase: uppercase;
    
    /*-Transforms-*/
    --transform-scale-up: scale(1.05);
    --transform-scale-down: scale(0.95);
    
    /*-Transitions-*/
    --transition-gen: all .2s ease-in-out;
}

html{ scroll-behavior: smooth;}

body {
    font-size: 100%;
    position: relative;}
/*-------------- RESET END --------------*/


/*
BUG: El header no se adapta bien, como no tengo
     mucho tiempo per se he decidido ponerle 
     una anchura del 100% para evitar problemas
*/
/*-------------- [HEADER] --------------*/
.Header {
    width: 100%;
    min-height: 4.375rem;
    background-color: var(--color-red);

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    position: fixed;
    top:0;
    left: calc(50% - (100% / 2));
    z-index: 5; /*-Pongo el 5 para darle margen de sobra
                   al header, de manera que no se superpongan
                   otros elementos-*/
}
.Header-logo {}
.Header-nav {}
.Header-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
}
.Header-li {}
.Header-link, .Header-button {
    color: var(--color-white);
    font-size: var(--font-h4-size);
    font-weight: var(--font-semibold);
    font-variant: var(--font-smallcaps);

    border-bottom: 5px solid transparent;

    transition: var(--transition-gen);}

.Header-button {
    cursor: pointer;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.Header-svg {width: 1rem;}
/*-Preparación para Js
   ——>El svg girará cuando salga el dropdown menu-*/
.Header-svg.isActive{transform: rotate(180deg);}

    
.Header-link:active, .Header-button:active { color: var(--color-black-opacity)}
.Header-link:hover, .Header-button:hover { border-bottom: 5px solid var(--color-white)}

 
.Header-menu{ position: relative; }
.Header-dropdown {
    background-color: var(--color-black);
    color: var(--color-red);
    width: 12.5rem;

    border-radius: .625rem;
    border: 3px solid var(--color-red);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc((100% - 12.5rem) / 2);
    top: 120%;

    transition: var(--transition-gen);
    
}
.Dropdown-link {
    width: 100%;
    padding: 1rem .5rem;
    
    font-size: var(--font-h6-size);
    font-weight: var(--font-medium);
    
    transition: var(--transition-gen);
}
.Dropdown-link::before{content: '✦ ';}

/*-Ajustes para el hover de los enlaces
   del dropdown menu, de manera que no
   se estropee el border radius      -*/
.Dropdown-link:hover{
    background-color: var(--color-red);
    color: var(--color-black);}
.Dropdown-link:active {background-color: var(--color-white);}
.Dropdown-link:first-child:hover{border-radius: .3rem .3rem 0 0;}
.Dropdown-link:last-child:hover{border-radius: 0 0 .3rem .3rem;}

.Header-dropdown.isActive {
    opacity: 1;
    pointer-events: initial;
}


/*-Menú responsive-*/
.Responsive {display: none;}

.Responsive-svg {width: 2rem; color: var(--color-black); transition: var(--transition-gen);}
.Responsive-svg:hover {color: var(--color-white);}
.Responsive-svg:active {transform: var(--transform-scale-down);}

.Responsive-menu {
    width: 85%;
    min-height: 100px;
    background-color: var(--color-white-opacity);

    padding: 1rem;
    border-radius: 0 0 1rem 1rem;

    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: calc(50% - (85% / 2));
    top: 4.375rem;

    transition: var(--transition-gen);
}
.Responsive-menu.isActive {
    opacity: 1;
    pointer-events: initial;}
.Responsive-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Responsive-li {
    width: 100%;
    background-color: var(--color-black);
    border-bottom: 4px solid transparent;
    
    border-radius: 1rem;
}

.Responsive-juegos {
    margin-top: -2rem;
    padding: 1.5rem 1rem 1rem;
    border-radius: 0 0 1rem 1rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 1rem;
}
.Responsive-link {
    width: 100%;
    min-height: 100%;
    color: var(--color-white);

    padding: .5rem;
    border-radius: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: var(--font-h6-size);
    font-weight: var(--font-bold);

    text-align: center;
}

.Responsive-a, .Responsive-h5 {
    color: var(--color-white);
    padding: 1rem;

    font-size: var(--font-h5-size);
    font-weight: var(--font-bold);
    text-transform: var(--font-uppercase);
    text-align: center;
}

.Responsive-li, .Responsive-link, .Responsive-a{ transition: var(--transition-gen);}
.Responsive-a:hover{color: var(--color-red);}
.Responsive-li:hover{border-bottom: 4px solid var(--color-red);}
.Responsive-link:hover{
    background-color: var(--color-red);
    color: var(--color-black);
    transform: var(--transform-scale-up);}
.Responsive-a:active, .Responsive-link:active {transform: var(--transform-scale-down);}
/*-Menú responsive-*/


/*-------------- [MAIN] --------------*/
.Main {min-height: 50vh;}
/*-------------- [MAIN] --------------*/




/*--  FOOTER  --*/
.Footer {
    width: 100%;
    min-height: 30vh;
    background-color: var(--color-red);
    color: var(--color-white);

    padding: 5rem 11rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    position: relative;
}
.Footer-img {
    background-color: white;
}
.Footer-ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

.Footer-h4 {
    margin: 0 0 1rem;

    display: flex;
    flex-flow: row;
    align-items: center;
    gap: .5rem;

    font-family: var(--font-family-ezcar);
    line-height: 1;
    font-size: var(--font-h4-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);
    text-decoration: underline;
}
.Footer-svg {
    width: 1.3rem;
    display: inline;}

.Footer-link {font-weight: var(--font-medium);}
    
/*--Esta especifididad distingue a los
    enlaces normales de los iconos--*/
.Footer-li .Footer-link {
    border-bottom: 5px solid transparent;
    transition: var(--transition-gen);}
.Footer-li .Footer-link:hover {
    color: var(--color-black);
    border-color: var(--color-black);}
.Footer-li .Footer-link:active { transform: scale(0.95);}
.Footer-li .Footer-link::before {content: '✦ '}

.Footer-wrapper {
    margin-bottom: 2rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
}    
.Footer-rrss {
    margin-bottom: 1rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}    
.Footer-icono { transition: var(--transition-gen);}
.Footer-icono:hover{color: var(--color-black);}   
.Footer-icono:active{transform: scale(0.95);}

.Footer-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.Footer-mail {
    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: .5rem;
    padding: .5rem;
}

.Footer-enviar { display: none;}
.Footer-label {
    cursor: pointer;

    background-color: white;
    color: var(--color-red);
    padding: .5rem 1rem;

    border-radius: 1rem;

    font-size: var(--font-h-size);
    font-weight: var(--font-bold);
    font-variant: var(--font-smallcaps);

    transition: var(--transition-gen);
}
.Footer-label:hover { transform: var(--transform-scale-up);}
.Footer-label:active { transform: var(--transform-scale-down);}

/*-Créditos del footer-*/
.Credits {
    background-color: var(--color-black);
    width: 100%;
    padding: 1rem;
    
    position: absolute;
    bottom: 0;
    left: calc(50% - (100% / 2));

    text-align: center;
    font-size: var(--font-smaller-size);
}
.Credits-h6::before{content: '✦ ';}
.Credits-h6::after{content: ' ✦';}
.Credits-link {
    color: var(--color-red);
    display: inline;
    
    font-weight: var(--font-medium);
    transition: var(--transition-gen); 
}
.Credits-link:hover{color: var(--color-white); transform: var(--transform-scale-up);}
.Credits-link:active{transform: var(--transform-scale-down);}
/*--  FOOTER  --*/



/*-------------- [OTROS ELEMENTOS] --------------
    En este apartado aparecen:
    ——> Scrollbar
    ——> Tooltips
*/
::-webkit-scrollbar {width: .5rem;}
::-webkit-scrollbar-track {background: var(--color-black-opacity); }
::-webkit-scrollbar-thumb {background: var(--color-red);}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {border-left: 2px solid white;}

/*-------------- [OTROS ELEMENTOS] --------------*/




/*-- [RESPONSIVE] --*/
@media (max-width:1220px) {
    .Footer {padding: 3rem; gap:2.5rem;}
    .Footer-rrss {margin-bottom: 4rem;}
}
@media (max-width:990px) {
    .Header {
        padding:0 1rem 0;
        justify-content: space-between;}
    .Header-nav {display: none;}
    .Responsive {display:inline}       
    
    .Footer{ grid-template-columns: repeat(2, 1fr);}
    .Footer-rrss {margin-bottom:2rem;}
}


@media (max-width:870px) {
    .Responsive-juegos {grid-template-columns: repeat(2, 1fr);}
}

@media (max-width:595px) {

    .Footer{ grid-template-columns: 1fr;}
    .Footer-img {margin: auto;}
    .Footer-ul, .Footer-wrapper{ align-items: center;}
}